@mixin full-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex($justify: normal, $align: stretch, $direction: row) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@function rem($px) {
  @return ($px/16) * 1rem;
}
